.padding-top-20 {
  padding-top: 30px;
}

.profile {
  margin-top: 5px;

  .text-muted {
    font-size: small;
    color: dimgrey;
  }

  .full-width {
    width: 100%;
  }

  .header-text {
    text-transform: uppercase;
    color: #00c274;
  }
}
