.product-feed-section {
  .popular-shop-header {
    padding: 1.5rem 0 1.5rem 0 !important;

    .header-button-section {
      background-color: white;
      border: 1px solid rgb(175, 175, 175);
    }

    .shop-header {
      font-weight: bold;
      color: black;
      font-family: sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}
