<div class="padding-top-20">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Firstname Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          FirstName
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="firstName">
          {{ row.firstName }}
        </mat-cell>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          LastName
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="lastName">
          {{ row.lastName }}
        </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="email">
          {{ row.email }}
        </mat-cell>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Phone
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="phone">
          {{ row.phone }}
        </mat-cell>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Gender
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="gender">
          <ng-container *ngIf="row.gender === 1"> Male</ng-container>
          <ng-container *ngIf="row.gender === 2"> Female</ng-container>
          <ng-container *ngIf="row.gender === 3"> Unknown</ng-container>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row" mat-cell>
          <button
            [routerLink]="['/dashboard/user/' + row.id + '/edit/']"
            mat-button
            title="edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            [routerLink]="['/dashboard/user/' + row.id + '/add-role/']"
            mat-button
            title="add role"
          >
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
          <button (click)="delete(row.id)" mat-button title="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="pagination.totalCount"
      [pageSizeOptions]="[10, 20, 30, 40, 50, pagination.totalCount]"
      [pageSize]="pagination.rowsPerPage"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
