.background-card {
  padding: 4rem 0 9rem 0 !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 255);
  background-image: url("../../../../../assets/images/login_illustration.png");
  background-repeat: no-repeat;

  .mini-card {
    background-color: rgba(244, 244, 244, 255);
    border-radius: 0 !important;
    transform: scale(0.9);

    .login-top {
      font-weight: bold;
      color: #28b37b;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 1rem;
    }
    .button-section {
      background-color: #444444;
      min-width: 23rem;
      .btn-text {
        color: white;
      }
    }
    .signup-text {
      color: #28b37b;
      text-decoration: none;
    }

    .facebook-icon {
      color: rgba(67, 167, 255, 255);
      font-size: 2rem;
    }

    .gmail-icon {
      color: rgba(230, 79, 79, 255);
      font-size: 2rem;
    }
  }
}
