<mat-card class="background-card">
  <div fxLayoutAlign="center center">
    <mat-card class="mini-card" fxLayout="column" fxLayoutGap="2rem">
      <div
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutAlign.lt-md="center center"
        fxLayoutGap="1rem"
      >
        <a routerLink="/">
          <img
            alt="Logo of Ebonear"
            height="100%"
            src="../../../../../assets/icons/png/Ebonear_logo_green.png"
          />
        </a>

        <p class="login-top">Recover Password</p>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="forgetPasswordForm">
        <div
          class="forget-password-box"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="2rem"
        >
          <div fxLayout="column" fxFill>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Email or Phone Number</mat-label>
              <input
                formControlName="phoneOrEmail"
                matInput
                placeholder="Write your Email or Phone number here"
                required
              />
              <mat-error>Phone Or Email is required!</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="1rem">
            <button class="button-section" mat-raised-button>
              <span class="btn-text">SEND CODE</span>
            </button>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
              <span>Create new account.</span>
              <span>
                <a [routerLink]="['/auth/registration']" class="signup-text">
                  Sign Up
                </a>
              </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
              <span>Or, Acccess using</span>
              <div fxLayoutGap="2rem">
                <mat-icon
                  class="facebook-icon"
                  matTooltip="Login using Facebook"
                  >facebook
                </mat-icon>
                <mat-icon class="gmail-icon" matTooltip="Login using Gmail"
                  >mail
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</mat-card>
<app-footer></app-footer>
