@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  .mat-table .mat-cell:first-child {
    padding-left: 0;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
    height: 30px;
    line-height: 46px;
    padding-right: 16px;
  }
  .mat-table .mat-cell.image {
    height: 120px;
    line-height: 130px;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.85em;
    padding-left: 16px;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: -1px;
  }
}

.status-section {
  .card-section {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }
  .biller-details {
    font-size: small;
    color: #a2a2a2;
  }
  .status {
    color: #4ead8e;
  }
  .header {
    font-weight: bold;
  }
  .table-section {
    padding: 2rem 0 0 0;
    width: 100%;
    mat-cell {
      padding: 0.2rem 0 1rem 0;
    }
    .mat-header-cell {
      font-size: 1rem;
      color: #cbcbcb;
      margin-right: 0.5rem;
    }
    .product {
      font-size: small;
      color: #575757;
    }
    .return-button {
      border: 1px solid #ff7979;
      border-radius: 4rem;
      min-width: 7rem;
      max-height: 2.5rem;
      .btn-text {
        color: #ff7979;
      }
    }
  }
  .footer {
    padding: 2rem 0 0 0;
    .star {
      color: #ff7979;
    }
    .footer-return {
      color: #ff7979;
      font-weight: bold;
    }
  }
}
