<div class="mtb16" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="60" fxFlex.lt-md="100">
    <div class="padding-top-20">
      <mat-card>
        <mat-toolbar class="theme-background-color">
          <mat-toolbar-row class="margin-left text-white">
            Promote Your Product
          </mat-toolbar-row>
        </mat-toolbar>

        <mat-card-content class="padding-out">
          <form
            (ngSubmit)="save()"
            [formGroup]="promotionForm"
            fxLayout="column"
            fxLayoutGap="4rem"
          >
            <div fxLayout="column">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Shop</mat-label>
                <mat-select
                  class="test"
                  formControlName="shopID"
                  placeholder="Select Shop"
                  required
                  (selectionChange)="onShopChange($event)"
                >
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="shopFiltering"
                      [searching]="isShopSearching"
                      noEntriesFoundLabel="No such shop"
                      placeholderLabel="Search"
                    >
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let shop of filteredShopOptions | async"
                    [value]="shop.id"
                  >
                    {{ shop.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Shop is required</mat-error>
              </mat-form-field>

              <div [fxHide]="true" fxFlex fxLayout="column" fxLayoutGap="1%">
                <mat-form-field appearance="outline">
                  <textarea
                    formControlName="shopTypeID"
                    matInput
                    placeholder="select shop type"
                    name="shopTypeID"
                    type="text"
                  ></textarea>
                </mat-form-field>
              </div>

              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Product</mat-label>
                <mat-select
                  class="test"
                  formControlName="productID"
                  placeholder="Select Product"
                  required
                  (selectionChange)="onProductChange($event)"
                >
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="productFiltering"
                      [searching]="isProductSearching"
                      noEntriesFoundLabel="No such product"
                      placeholderLabel="Search"
                    >
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let product of filteredProductOptions | async"
                    [value]="product.id"
                  >
                    {{ product.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Product is required</mat-error>
              </mat-form-field>

              <div [fxHide]="true" fxFlex fxLayout="column" fxLayoutGap="1%">
                <mat-form-field appearance="outline">
                  <textarea
                    formControlName="categoryID"
                    matInput
                    placeholder="select category"
                    name="categoryID"
                    type="text"
                  ></textarea>
                </mat-form-field>
              </div>

              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Promotion Type</mat-label>
                <mat-select
                  class="test"
                  formControlName="type"
                  placeholder="Select Promotion Type"
                  required
                  (selectionChange)="onPromotionTypeChange($event)"
                >
                  <mat-option
                    *ngFor="let type of promotionTypeEnum | keyvalue"
                    [value]="type.value"
                  >
                    {{ type.key }}
                  </mat-option>
                </mat-select>
                <mat-error>Promotion Type is required</mat-error>
              </mat-form-field>

              <div fxLayout="row" fxLayoutGap="3%">
                <div fxFlex="50%" fxLayout="column" fxLayoutGap="1%">
                  <mat-label>Start Date</mat-label>
                  <mat-form-field appearance="outline">
                    <input
                      [matDatepicker]="startDatePicker"
                      [min]="minDate"
                      formControlName="startDate"
                      matInput
                      placeholder="Select Start Date"
                      (dateChange)="onStartDateChange($event)"
                    />
                    <mat-datepicker-toggle
                      [for]="startDatePicker"
                      matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                    <mat-error>Start Date is required!</mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50%" fxLayout="column" fxLayoutGap="1%">
                  <mat-label>End Date</mat-label>
                  <mat-form-field appearance="outline">
                    <input
                      [matDatepicker]="endDatePicker"
                      [min]="minStartDate"
                      formControlName="endDate"
                      matInput
                      placeholder="Select End Date"
                    />
                    <mat-datepicker-toggle
                      [for]="endDatePicker"
                      matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error>End Date is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex fxLayout="column" fxLayoutGap="1%">
                <mat-label>Title</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    formControlName="title"
                    matInput
                    placeholder="write the promotional title"
                    name="title"
                    type="text"
                  />
                </mat-form-field>
              </div>

              <div fxFlex fxLayout="column" fxLayoutGap="1%">
                <mat-label>Description</mat-label>
                <mat-form-field appearance="outline">
                  <textarea
                    formControlName="description"
                    matInput
                    placeholder="write the promotional description"
                    name="description"
                    type="text"
                  ></textarea>
                </mat-form-field>
              </div>

              <div *ngIf="selectedCoverFile" class="image-preview-container">
                <div class="image-preview" fxFill fxLayoutAlign="center center">
                  <img
                    [src]="selectedCoverFile.src"
                    alt="shop cover image"
                    height="100px"
                  />
                </div>
              </div>
              <div
                class="image-upload-container btn-bwm"
                fxLayout="column"
                fxLayoutGap="1rem"
              >
                <label>Select Promotion Cover Image</label>

                <input
                  [fxShow]="false"
                  id="imageCoverInputId"
                  #imageCoverInput
                  (change)="waitForCoverImageRes(imageCoverInput)"
                  accept="image/*"
                  class="image-input"
                  type="file"
                />
                <label for="imageCoverInputId" class="change-btn"
                  >Change Cover Image</label
                >
              </div>
            </div>

            <div
              class="padding-top-20"
              fxLayout="row"
              fxLayout.lt-sm="column"
              fxLayoutAlign="space-between center"
              fxLayoutGap="15px"
              fxLayoutGap.lt-md="10px"
            >
              <button class="reset-button" mat-raised-button>
                <span class="btn-text">Reset</span>
              </button>
              <button class="submit-button" mat-raised-button>
                <span class="btn-text">Submit</span>
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
