<div class="profile-section" fxLayoutAlign="center center">
 <div fxFlex="70">
    <mat-tab-group>
      <mat-tab label="All">
        <app-history-content [status]="0"></app-history-content>
      </mat-tab>
      <mat-tab label="Pending">
        <app-history-content [status]="1"></app-history-content>
      </mat-tab>
      <mat-tab label="Confirmed">
        <app-history-content [status]="2"></app-history-content>
      </mat-tab>
     <mat-tab label="On the way">
        <app-history-content [status]="3"></app-history-content>
      </mat-tab>
      <mat-tab label="Delivered">
        <app-history-content [status]="4"></app-history-content>
      </mat-tab>
      <mat-tab label="Cancelled">
        <app-history-content [status]="5"></app-history-content>
      </mat-tab>
    </mat-tab-group>
    <!-- <div class="slide" fxLayout="row" fxLayoutAlign="spacebetween center">
      <button class="tablink" (click)="onClick(0)">All</button>
      <button class="tablink" (click)="onClick(1)">Pending</button>
      <button class="tablink" (click)="onClick(2)">Confirmed</button>
      <button class="tablink" (click)="onClick(3)">Proceeding</button>
      <button class="tablink" (click)="onClick(4)">Delivered</button>
      <button class="tablink" (click)="onClick(5)">Cancelled</button>
    </div>
      <app-history-content [status]="status"></app-history-content>
      <div>{{status}}</div> -->
  </div>
</div>