<div class="FAQs-section" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxLayout="column" fxLayoutGap="2.2rem">
    <span class="header">FAQ</span>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutGap="2rem">
              <span class="question">Q.</span>
              <span> {{ question }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="2rem">
          <span class="question">A.</span>
          <span class="answer">{{ answer }}</span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutGap="2rem">
              <span class="question">Q.</span>
              <span> {{ question }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="2rem">
          <span class="question">A.</span>
          <span class="answer">{{ answer }}</span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutGap="2rem">
              <span class="question">Q.</span>
              <span> {{ question }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="2rem">
          <span class="question">A.</span>
          <span class="answer">{{ answer }}</span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutGap="2rem">
              <span class="question">Q.</span>
              <span> {{ question }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="2rem">
          <span class="question">A.</span>
          <span class="answer">{{ answer }}</span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutGap="2rem">
              <span class="question">Q.</span>
              <span> {{ question }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="2rem">
          <span class="question">A.</span>
          <span class="answer">{{ answer }}</span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutGap="2rem">
              <span class="question">Q.</span>
              <span> {{ question }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="2rem">
          <span class="question">A.</span>
          <span class="answer">{{ answer }}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
