<mat-card class="background-card">
  <div fxLayoutAlign="center center">
    <mat-card class="mini-card">
      <!--Login page top description-->
      <div fxLayout="column" fxLayoutGap="1rem">
        <div
          fxLayout="column"
          fxLayoutAlign="space-between start"
          fxLayoutAlign.lt-md="center center"
          fxLayoutGap="1.5rem"
        >
          <a routerLink="/">
            <img
              alt="Logo of Ebonear"
              height="100%"
              src="../../../../../assets/icons/png/Ebonear_logo_green.png"
            />
          </a>

          <p class="recover-top">Recover your password</p>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
          <div
            class="forget-password-box"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <div class="forget-password" fxFill>
        
              <div fxLayout="column" fxLayoutGap="1%">
                <mat-label>New Password</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    [type]="passwordVisibility ? 'text' : 'password'"
                    formControlName="newPassword"
                    matInput
                    placeholder="Write your new password here"
                    required
                  />
                  <mat-icon
                    (click)="passwordVisibility = !passwordVisibility"
                    class="cursor-pointer"
                    matSuffix
                  >
                    {{ passwordVisibility ? "visibility" : "visibility_off" }}
                </mat-icon>
                  <mat-error>New password is required!</mat-error>
                </mat-form-field>
              </div>
        
              <div fxLayout="column" fxLayoutGap="1%">
                <mat-label>Confirm New Password</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    [type]="confirmPasswordVisibility ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    matInput
                    placeholder="Re-write the new password here"
                    required
                  />
                  <mat-icon
                    (click)="confirmPasswordVisibility = !confirmPasswordVisibility"
                    class="cursor-pointer"
                    matSuffix
                  >
                    {{ confirmPasswordVisibility ? "visibility" : "visibility_off" }}
                  </mat-icon>
                  <mat-error>Password doesn't match!</mat-error>
                </mat-form-field>
              </div>
        
              <div fxLayout="column">
                <button class="update-button" mat-raised-button>
                  <span class="update-text">UPDATE</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</mat-card>

<app-footer></app-footer>

