.background-card {
  padding: 5rem 0 7rem 0 !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 255);
  background-image: url("../../../../../assets/images/Recover Password.png");
  background-size: 38% 75%;
  background-position:left bottom;
  background-repeat: no-repeat;
  .mini-card {
    background-color: rgba(244, 244, 244, 255);
    min-width: 22rem;
    transform: scale(0.9);
.update-button {
  height: 2.3rem;
  background-color: rgb(63, 63, 63);
  margin-top: 1rem;

  .update-text {
    color: white;
    font-size: 0.9rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}
.recover-top {
  font-weight: bold;
  color: #28B37B;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
    }
  }
}
