<div class="description-section" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxLayout="column" fxLayoutGap="2rem">
    <!--Heading section-->

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <p class="heading-section">OUR VALUABLE PARTNERS</p>
    </div>

    <!--Partner logo section-->

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2rem grid">
      <div *ngFor="let image of images">
        <img [src]="image.src" alt="image.alt" height="100" width="100"/>
      </div>
      <mat-icon class="next-icon cursor-pointer">navigate_next</mat-icon>
    </div>
    <br/>

    <!--Why choosing section-->

    <div
      fxLayout="column"
      fxLayoutAlign="space-around start"
      fxLayoutGap="1rem"
    >
      <p class="headline-section">WHY EBONEAR</p>
      <br/>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="2rem"
      >
        <mat-icon class="icon-section">check</mat-icon>
        <span>Lorem is simply dummy text of the printing and typesetting</span>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="2rem"
      >
        <mat-icon class="icon-section">check</mat-icon>
        <span
        >Lorem is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been</span
        >
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="2rem"
      >
        <mat-icon class="icon-section">check</mat-icon>
        <span
        >Lorem is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the indutry's</span
        >
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="2rem"
      >
        <mat-icon class="icon-section">check</mat-icon>
        <span
        >Lorem is simply dummy text of the printing and typesetting
          industry.</span
        >
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="2rem"
      >
        <mat-icon class="icon-section">check</mat-icon>
        <span>Lorem is simply dummy text</span>
      </div>
    </div>
  </div>
</div>
