.description-section {
  padding: 4rem 0 2rem 0;
  background-color: rgb(255, 255, 255) !important;

  .icon-section {
    color: rgb(15, 171, 115);
  }

  .headline-section {
    font-size: 2rem;
    color: rgb(221, 220, 220);
    font-family: Humanistic sans-serif;
  }

  .heading-section {
    color: rgb(14, 13, 13);
    font-family: sans-serif;
  }

  .next-icon {
    color: rgb(150, 150, 150);
    cursor: pointer;
  }
}
