<div class="mtb16" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="60" fxFlex.lt-md="100">
    <div class="padding-top-20">
      <mat-card>

        <mat-toolbar class="theme-background-color">
          <mat-toolbar-row class="margin-left text-white"> Update Category</mat-toolbar-row>
        </mat-toolbar>

        <mat-card-content class="padding-out">
          <form (ngSubmit)="save()" (reset)="editCategoryForm.reset()" [formGroup]="editCategoryForm">

            <div fxLayout="column">

              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput
                       placeholder="Category Name" required/>
                <mat-error>Name is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Position</mat-label>
                <input formControlName="position" matInput placeholder="Category Position"
                       required type="number"/>
                <mat-error>Position is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Root Category</mat-label>
                <mat-select formControlName="isRootCategory" placeholder="Root" required>
                  <mat-option [value]="1">Yes</mat-option>
                  <mat-option [value]="0">No</mat-option>
                </mat-select>
                <mat-error>Root selection is required</mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="editCategoryForm.value.isRootCategory === 0" appearance="outline"
                              floatLabel="always">
                <mat-label>Parent Category</mat-label>
                <mat-select [(ngModel)]="parentID" [ngModelOptions]="{standalone:
                true}" placeholder="Select Parent Category" required>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="parentFiltering" [searching]="isSearching"
                                           noEntriesFoundLabel="No such category" placeholderLabel="Search">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let parent of filteredParentOptions | async" [value]="parent.id">
                    {{ parent.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Parent is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput required rows="5">
                </textarea>
                <mat-error>Description is required</mat-error>
              </mat-form-field>

              <div *ngIf="selectedFile" class="image-preview-container">
                <div class="image-preview" fxFill fxLayoutAlign="center center">
                  <img [src]="selectedFile.src" alt="shop profile image" height="100px"/>
                </div>
              </div>
              <div class="image-upload-container btn-bwm" fxLayout="column" fxLayoutGap="1rem">
                <label>Select Image</label>
                <input #imageInput (change)="waitForImageRes(imageInput)" accept="image/*" class="image-input"
                       type="file"/>
              </div>

            </div>

            <div class="padding-top-20" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="end" fxLayoutGap="15px"
                 fxLayoutGap.lt-md="10px">
              <button color="warn" fxFlex="10%" mat-raised-button type="reset">
                Reset
              </button>
              <button [disabled]="isLoading" class="theme-background-color" fxFlex="10%" mat-raised-button
                      type="submit">
                {{ btnLabel }}
              </button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
