.greet-section {
  padding: 17rem 0 0 0;

  .done-icon {
    margin-left: -2.5rem;
    color: #28B37B;
    font-size: 5rem;
  }

  .payment-text {
    margin-top: 3rem;
    font-size: xx-large;
    color: #28B37B;
  }

  .transaction {
    color: #a0a0a0;
  }
}
