<mat-card class="background-card">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card
      class="mini-card"
      fxLayout="column"
      fxLayoutAlign="space-between start"
    >
      <!--SignUp page top description-->
      <div
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutGap="2rem"
      >
        <a routerLink="/">
          <img
            alt="Logo of Ebonear"
            height="100%"
            src="../../../../../assets/icons/png/Ebonear_logo_green.png"
          />
        </a>
        <p class="sign-up-top">Create Your Ebonear Account !</p>
      </div>

      <form
        [formGroup]="registrationForm"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-around start"
        fxLayoutGap="2rem"
        fxLayoutGap.lt-md=".5rem"
      >
        <!--Left side forms-->
        <div>
          <div fxLayout="row" fxLayoutGap="3%">
            <div fxFlex fxLayout="column" fxLayoutGap="1%">
              <mat-label fxFlex>First Name</mat-label>
              <mat-form-field appearance="outline" fxFlex>
                <input
                  class="firstName-input"
                  formControlName="firstName"
                  matInput
                  name="firstName"
                  placeholder="Write your first name"
                  required
                />
                <mat-error>First name is required!</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex fxLayout="column" fxLayoutGap="4%">
              <mat-label>Last Name</mat-label>
              <mat-form-field appearance="outline">
                <input
                  class="firstName-input"
                  formControlName="lastName"
                  matInput
                  name="lastName"
                  placeholder="Write your last name"
                  required
                />
                <mat-error>Last name is required!</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="3%">
            <div fxFlex="35%" fxLayout="column" fxLayoutGap="1%">
              <mat-label>Gender</mat-label>
              <mat-form-field appearance="outline">
                <mat-select formControlName="gender" placeholder="Select">
                  <mat-option
                    *ngFor="let gender of genders"
                    [value]="gender.value"
                  >
                    {{ gender.label }}
                  </mat-option>
                </mat-select>
                <mat-error>Gender is required!</mat-error>
              </mat-form-field>
            </div>

            <div fxFlex fxLayout="column" fxLayoutGap="1%">
              <mat-label>Date of birth</mat-label>
              <mat-form-field appearance="outline">
                <input
                  [matDatepicker]="datePicker"
                  [max]="maxDate"
                  formControlName="dateOfBirth"
                  matInput
                  placeholder="MM/DD/YYYY"
                />
                <mat-datepicker-toggle
                  [for]="datePicker"
                  matSuffix
                ></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-error>Date is required!</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="1%">
            <mat-label>Email</mat-label>
            <mat-form-field appearance="outline">
              <input
                formControlName="email"
                matInput
                name="email"
                placeholder="Input email here"
                required
                type="text"
              />
              <mat-error>Valid email required!</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutGap="3%">
            <div fxFlex="35%" fxLayout="column" fxLayoutGap="1%">
              <mat-label>Country Code</mat-label>
              <mat-form-field appearance="outline">
                <mat-select formControlName="countryCode" placeholder="Select">
                  <mat-option
                    *ngFor="let countryCode of countryCodes"
                    [value]="countryCode.value"
                  >
                    {{ countryCode.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex fxLayout="column" fxLayoutGap="1%">
              <mat-label>Phone</mat-label>
              <mat-form-field appearance="outline">
                <input
                  formControlName="phone"
                  matInput
                  name="phone"
                  pattern="01[0-9]{9}"
                  placeholder="Write your phone number here"
                  required
                />
                <mat-error>Valid phone number required!</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="column">
            <div fxFlex fxLayout="column" fxLayoutGap="1%">
              <mat-label>Password</mat-label>
              <mat-form-field appearance="outline">
                <input
                  [type]="passwordVisibility ? 'text' : 'password'"
                  formControlName="password"
                  matInput
                  placeholder="Input password here"
                  required
                />
                <mat-icon
                  (click)="passwordVisibility = !passwordVisibility"
                  class="cursor-pointer"
                  matSuffix
                >
                  {{ passwordVisibility ? "visibility" : "visibility_off" }}
                </mat-icon>
                <mat-error *ngIf="hasError('password', 'required')"
                >Password is required
                </mat-error
                >
                <mat-error *ngIf="hasError('password', 'pattern')"
                >
                  Password must be between 8-20 characters, at least one
                  letter, one number and special character
                </mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex fxLayout="column" fxLayoutGap="1%">
              <mat-label>Confirm Password</mat-label>
              <mat-form-field appearance="outline">
                <input
                  [type]="confirmPasswordVisibility ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  matInput
                  placeholder="Confirm password here"
                  required
                />
                <mat-icon
                  (click)="
                    confirmPasswordVisibility = !confirmPasswordVisibility
                  "
                  class="cursor-pointer"
                  matSuffix
                >
                  {{
                  confirmPasswordVisibility ? "visibility" : "visibility_off"
                  }}
                </mat-icon>
                <mat-error> Password Doesn't match!</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <mat-divider class="divider-line" fxHide.lt-md vertical></mat-divider>
        </div>
        <!--Right side forms-->
        <div
          fxLayout="column"
          fxLayoutAlign="space-between start"
          fxLayoutGap="2rem"
        >
          <div>
            <div fxLayout="row" fxLayoutGap="3%">
              <div fxFlex fxLayout="column" fxLayoutGap="3%">
                <mat-label>District</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select
                    (selectionChange)="onDistrictSelect()"
                    formControlName="district"
                    placeholder="Select District"
                    required
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        [formControl]="districtFiltering"
                        [searching]="isSearching"
                        noEntriesFoundLabel="No such Districts"
                        placeholderLabel="Search"
                      >
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                      *ngFor="let district of filteredDistrictOptions | async"
                      [value]="district.id"
                    >
                      {{ district.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>District is required!</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex fxLayout="column" fxLayoutGap="3%">
                <mat-label>Thana</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select
                    formControlName="thana"
                    placeholder="Select Thana"
                    required
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        [formControl]="thanaFiltering"
                        [searching]="isSearching"
                        noEntriesFoundLabel="No such Thanas"
                        placeholderLabel="Search"
                      >
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                      *ngFor="let thana of filteredThanaOptions | async"
                      [value]="thana.id"
                    >
                      {{ thana.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>Thana is required!</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="column">
              <div fxFlex fxLayout="column" fxLayoutGap="1%">
                <mat-label>Address</mat-label>
                <mat-form-field appearance="outline">
                  <textarea
                    class="address-bar"
                    formControlName="addressPlain"
                    matInput
                    name="address"
                    type="text"
                  ></textarea>

                  <mat-error>Address is required!</mat-error>
                </mat-form-field>
              </div>

              <div>
                <ngx-recaptcha2
                  [siteKey]="'6LcUIn8cAAAAAKRuVB7sVvg95DJBW-N8-Z0B19Eg'"
                  [useGlobalDomain]="true"
                  formControlName="captcha"
                  >
                </ngx-recaptcha2>
              </div>

              <button
                (click)="register()"
                [disabled]="isLoading"
                class="signup-button"
                mat-raised-button
              >
                <span class="signup-text">SIGN UP</span>
              </button>
            </div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            fxLayoutGap="1rem"
          >
            <span>Already have an account?</span>
            <span>
              <a [routerLink]="['/auth/login']" class="login-text"> Login </a>
            </span>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            fxLayoutGap="2rem"
          >
            <span>Or, Acccess using</span>
            <div fxLayoutGap="2rem">
              <mat-icon
                class="facebook-icon"
                matTooltip="Sign-up using Facebook"
              >facebook
              </mat-icon
              >
              <mat-icon class="gmail-icon" matTooltip="Sign-up using Gmail"
              >mail
              </mat-icon
              >
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</mat-card>
<app-footer></app-footer>
