<div class="order-section" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxLayout="row" fxLayout.gt-xs="70" fxLayoutGap="2rem">
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="space-between center"
      fxLayoutGap="3rem"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-sm="space-between start"
        fxFlex="45"
        fxLayoutGap="2rem grid"
      >
        <div class="text-white text-bold text-uppercase">
          Order your product,download our app!!
        </div>

        <div
          [ngClass]="'text-center'"
          class="text-white"
          ngClass.gt-sm="text-left"
        >
          Lorem is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s
        </div>
      </div>

      <mat-card
        class="promotion-card"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
      >
        <img
          alt="image of google play store"
          src="../../../../../../assets/images/google_play.png"
        />
        <img
          alt="image of iso app store"
          src="../../../../../../assets/images/app_store.png"
        />
      </mat-card>
    </div>
  </div>
</div>
