<div class="footer-section" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxLayout="column" fxLayoutGap=".5rem">
    <!-- Footer Top Part-->
    <div>
      <hr />
      <div
        class="footer-inner-top-section"
        fxLayout="column"
        fxLayout.gt-sm="row"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-sm="space-between center"
        fxLayoutGap="2rem grid"
      >
        <img
          alt="Logo of E-Com"
          src="../../../../../../assets/icons/png/Ebonear_logo_green.png"
          width="100"
        />
        <div>
          <mat-icon class="footer-pointer-section" matTooltip="Facebook"
            >facebook
          </mat-icon>
          <mat-icon class="footer-pointer-section" matTooltip="E-Mail"
            >gmail
          </mat-icon>
        </div>
      </div>
      <hr />
    </div>

    <!-- Footer Button Part-->
    <div
      class="footer-inner-button-section"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="end center"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="0.5rem"
      >
        <button mat-button>
          <span class="footer-button-section">HOME</span>
        </button>
        <button mat-button>
          <span class="footer-button-section">SHOPS</span>
        </button>
        <button mat-button>
          <span class="footer-button-section">SEARCH</span>
        </button>
        <button mat-button>
          <span class="footer-button-section">CONTACT</span>
        </button>
      </div>
    </div>

    <!-- Footer Address and About Part-->
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="2rem"
    >
      <div>
        <div fxLayout="row" fxLayoutGap="1rem">
          <mat-icon class="footer-text-section">near_me</mat-icon>
          <p class="footer-text-section">
            H #02,Rd #13,Uttara,Sector 10<br />Dhaka - 1220<br />Dhaka,Bangladesh
          </p>
        </div>
        <br />

        <div fxLayout="row" fxLayoutGap="1rem">
          <mat-icon class="footer-text-section">call</mat-icon>
          <span class="footer-text-section"> {{ companyInfo.phone }} </span>
        </div>
        <br />

        <div fxLayout="row" fxLayoutGap="1rem">
          <mat-icon class="footer-text-section">email</mat-icon>
          <span class="footer-text-section">{{ companyInfo.email }}</span>
        </div>
      </div>

      <div fxFlex="40" fxLayout="row" fxLayoutAlign="end start">
        <p class="footer-paragraph-section">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
    </div>

    <!-- Footer Copyright Part-->
    <div>
      <hr />
      <div
        class="footer-inner-top-section"
        fxLayout="column"
        fxLayout.gt-sm="row"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-sm="space-between center"
        fxLayoutGap="2rem grid"
      >
        <div fxLayout="row" fxLayoutGap="10px">
          <p class="footer-text-section">All Right Reserved By</p>
          <p class="footer-copyright-section">SIMEC System Ltd.</p>
        </div>

        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
          <button [routerLink]="['/FAQs']" mat-button>
            <span class="footer-button-section">FAQs</span>
          </button>
          <button mat-button>
            <span class="footer-button-section">Terms & Conditions</span>
          </button>
          <button mat-button>
            <span class="footer-button-section">Privacy Policies</span>
          </button>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
