.ticket-section {
  transform: scale(0.8);
  .header {
    padding: 3rem 0 2rem 0;
    font-size: 5rem;
    font-weight: bold;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
  }

  .ticket-btns {
    margin-bottom: 3rem;
    .submit-button {
      background-color: #06b37b;
      min-width: 8rem;
    }

    .cancel-button {
      background-color: #c9c9c9;
      min-width: 8rem;
    }

    .button-text {
      color: #ffffff;
    }
  }
}
