<mat-card class="background-card">
  <div fxLayoutAlign="center center">
    <mat-card class="mini-card" fxLayout="column" fxLayoutGap="2rem">
      <div
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutAlign.lt-md="center center"
        fxLayoutGap="1rem"
      >
        <a routerLink="/">
          <img
            alt="Logo of Ebonear"
            height="100%"
            src="../../../../../assets/icons/png/Ebonear_logo_green.png"
          />
        </a>

        <p class="login-top">Change Password</p>
      </div>

      <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutGap="1rem">
          <div fxLayout="column" fxLayoutGap="1%">
            <mat-label>Present Password</mat-label>
            <mat-form-field appearance="outline">
              <input
                [type]="presentPasswordVisibility ? 'text' : 'password'"
                formControlName="presentPassword"
                matInput
                placeholder="Type present password here"
                required
              />
              <mat-icon
                (click)="presentPasswordVisibility = !presentPasswordVisibility"
                class="cursor-pointer"
                matSuffix
              >
                {{
                  presentPasswordVisibility ? "visibility" : "visibility_off"
                }}
              </mat-icon>
              <mat-error *ngIf="hasError('presentPassword', 'required')"
                >Password is required
              </mat-error>
              <mat-error *ngIf="hasError('presentPassword', 'pattern')"
                >Password must be between 8-20 characters, at least one
                letter, one number and special character
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="1%">
            <mat-label>New Password</mat-label>
            <mat-form-field appearance="outline">
              <input
                [type]="newPasswordVisibility ? 'text' : 'password'"
                formControlName="newPassword"
                matInput
                placeholder="Type new present password here"
                required
              />
              <mat-icon
                (click)="newPasswordVisibility = !newPasswordVisibility"
                class="cursor-pointer"
                matSuffix
              >
                {{ newPasswordVisibility ? "visibility" : "visibility_off" }}
              </mat-icon>
              <mat-error *ngIf="hasError('newPassword', 'required')"
                >Password is required
              </mat-error>
              <mat-error *ngIf="hasError('newPassword', 'pattern')"
                >Password must be between 8-16 characters and at least one
                letter and one number
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="1%">
            <mat-label>Confirm New Password</mat-label>
            <mat-form-field appearance="outline">
              <input
                [type]="confirmPasswordVisibility ? 'text' : 'password'"
                formControlName="confirmPassword"
                matInput
                placeholder="Type present password here"
                required
              />
              <mat-icon
                (click)="confirmPasswordVisibility = !confirmPasswordVisibility"
                class="cursor-pointer"
                matSuffix
              >
                {{
                  confirmPasswordVisibility ? "visibility" : "visibility_off"
                }}
              </mat-icon>
              <mat-error> Password Doesn't match!</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="1rem">
            <button class="button-section" mat-raised-button>
              <span class="btn-text">Change</span>
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</mat-card>
<app-footer></app-footer>
