.background-card {
  padding: 4rem 0 6.2rem 0 !important;
  border-radius: 0 !important;
  background-color: #ffffff;
  background-image: url("../../../../../assets/images/Change Password.png");
  background-repeat: no-repeat;

  .mini-card {
    background-color: #f4f4f4;
    border-radius: 0 !important;
    transform: scale(0.9);

    .login-top {
      font-weight: bold;
      color: #28b37b;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 1rem;
    }
    .button-section {
      background-color: #444444;
      min-width: 23rem;
      .btn-text {
        color: #ffffff;
      }
    }
  }
}
