.dialog-header {
  color: rgb(51, 51, 51);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cancel-btn {
  width: 5rem;
  background-color: #ff0000;
  .cancel-text {
    color: #ffffff;
  }
}

.save-btn {
  width: 27rem;
  background-color: #28b37b;
  .save-text {
    color: #ffffff;
  }
}
