.review-section {
  padding: 0 0 2rem 0;
  .top-text {
    padding: 3rem 0 2rem 0;
    font-size: 2.3rem;
    color: #dddcdc;
    font-family: Humanistic sans-serif;
    margin-top: 1rem;
  }
  .name {
    font-size: 1.2rem;
    font-size: large;
    color: #28b37b;
  }

  img {
    border-radius: 50%;
  }
  .text {
    padding: 3rem 0 2rem 0;
    font-size: 2.3rem;
    color: #b6b6b6;
    font-family: Humanistic sans-serif;
    margin-top: 1rem;
  }
}
